*{
    font-family: 'Roboto', sans-serif;
}


.container{
    background-color: #e6f6ff;
    height: 100%;
}
.head{
    background-color:#fb4e71;
    width: 100%;

}
.heading{
    color: #fff;
}
.subhead{
    padding: 10px;
    color: #323f4b;
}